# docker-compose.yml (en la raíz)
# define los contenedores que forman la aplicación
services:
  consul:
    image: consul:1.15 # versión de consul
    command: >
      agent -server -ui -node=server-1 -bootstrap-expect=1 -client=0.0.0.0
    ports: ["8500:8500", "8600:8600/udp"] #dashboard y dns service discovery

  metadata-grpc:
    build: { context: ., dockerfile: metadata/Dockerfile } #contexto del directorio raíz y dockerfile que construye el servicio 
    environment: [ CONSUL_HTTP_ADDR=consul:8500 ] #donde va a estar el servidor
    depends_on: [ consul ] 
    ports: ["9091:9091"] #servicio gRCP metadata en el consul

  rating-grpc: #construir el servicio gRCP rating
    build: { context: ., dockerfile: rating/Dockerfile }
    environment: [ CONSUL_HTTP_ADDR=consul:8500 ]
    depends_on: [ consul ]
    ports: ["9092:9092"]

  recipe-grpc: #construye recipe
    build: { context: ., dockerfile: recipe/Dockerfile }
    environment: [ CONSUL_HTTP_ADDR=consul:8500 ]
    depends_on: [ consul, metadata-grpc, rating-grpc ] #de que microservicios depende
    ports: ["9093:9093"]
